@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(250, 253, 255);
    font-family: 'Poppins';
}
.nav{
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0PX 20PX 20px;
    box-shadow: 0px -10px 19px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -10px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -10px 19px 0px rgba(0,0,0,0.75);
}

.srch{
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 70%;
    height: 50%;
    top: 50%;
    left: 35%;
    margin-left: 40px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-family: 'Poppins';
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
}
.srch:focus{
    outline: none;
}
.srch::placeholder{
    font-weight: 300;
}
.search button{
    background-color: rgb(171, 134, 241);
    border: none;
    height: 50%;
    border-radius: 10px;
    width: 20%;
    position: absolute;
    font-weight: 800;
    top: 50%;
    left: 85%;
    margin-left: 20px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
}
.search{
    position: absolute;
    width: 70%;
    height: 100%;
}
.params{
    position: absolute;
    width: 30%;
    height: 90%;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    border-left: 0.5px solid rgba(0, 0, 0, 0.486);
}
.random{
    background-color: rgb(171, 134, 241);
    border: none;
    height: 60%;
    border-radius: 10px;
    width: 90%;
    position: absolute;
    font-weight: 800;
    top: 50%;
    left: 45%;
    margin-left: 20px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
}
.liked{
    background-color: rgb(171, 134, 241);
    border: none;
    height: 60%;
    border-radius: 10px;
    width: 40%;
    position: absolute;
    font-weight: 800;
    top: 50%;
    left: 20%;
    margin-left: 20px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
}
.hero{
    position: absolute;
    width: 100%;
    height: 90%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    align-content: start;
    position: relative;
    top: 50px;
}
.item {
    flex: 0 0 auto;
    margin: 10px;
    width: 23%;
    background-color: rgb(246, 246, 246);
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    position: relative;
}
.item:hover{
    border-radius: 20px;
}
.apiName{
    color: rgb(27, 27, 27);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100%;
    height: 20%;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
}
.apiDescription{
    color: rgb(27, 27, 27);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100%;
    height: 20%;
    text-align: center;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 400;
}
like{
    color: black;
    font-size: 30px;
    cursor: pointer;
    top: 0%;
    position: absolute;
    font-size: 20px;
}
#liked{
    color: tomato;
}
.apiLoad{
    background-color: rgb(171, 134, 241);
    border: none;
    height: 20%;
    border-radius: 10px;
    width: 80%;
    position: absolute;
    font-weight: 800;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
}
.add{
    position: relative;
    width: 100%;
    height: 20%;
    top: 10%;
}
.more{
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 50%;
    border-radius: 20px;
    background-color: rgb(171, 134, 241);
    cursor: pointer;
}
.more p{
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 20px;
    color: rgb(248, 248, 248);
}